:root {
    --bitcoinorange : #F7931A;
    --softorange : #FFE9D4;
    --warmblack : #201E1C;
    --warmblack1 : #282623;
    --offwhite : #FAF8F7;
    --justwhite : #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 400px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%) ;
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    height: 300px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--justwhite);

}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--justwhite);
}
.header--button {
    position: absolute;
    top: 328px;
    left: calc(50% - 143px);
    display: block;
    margin-top: 50px;
    padding: 15px;
    width: 291px;
    height: 48px;
    background-color: var(--offwhite);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(66, 60, 44, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(/assets/icons/down-arrow.svg);
}
main {
    width: 100%;
    height: auto;
    background-color:var(--offwhite);

}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 15px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.backgroundimg {
    width: 200px;
    height: 200px;
    margin: 0 auto; /*Centrar con el marigin*/
    margin-bottom: 50px;
    background-image:url(/assets/img/Bitcoin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-table {
    width: 50%;
    min-width: 235px;
    max-width: 500px;
    height: 370px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:var(--bitcoinorange);
    margin-right: 45%;
}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    

}
table {
    width: 100%;
    height: 100%;
}
td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--justwhite);
}
.table__top-left {
    border-radius: 15px 0 0 0;
}
.table__top-right {
    border-radius: 0 15px 0 0;
}
.table__bottom-left {
    border-radius: 0 0 0 15px;
}
.table__bottom-right {
    border-radius: 0 0 15px 0;
}
.table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color:#757575;
}
.currency-table--container .down {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url(/assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.currency-table--container .up {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url(/assets/icons/trending-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-currency-table .currency-table--date {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 8px;
    background-color: var(--softorange);
    border-radius: 8px;
}
.currency-table--date p {
    font-size: 14px;
    line-height: 1.1rem;
    color: var(--warmblack);
}
/*Segunda Tabla*/
.main-currency-table .comisiones-titulo--tabla {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:darkcyan;
    margin-right: 45%;
}
.tabla--fecha {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    margin-top: 22px;
    padding: 8px;
    background-color: cyan;
    border-radius: 8px;
}
.tabla--fecha p {
    font-size: 14px;
    line-height: 1.1rem;
    color: var(--warmblack);
}
/*Slider*/

/*Continuacion*/

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warmblack);
}
.patata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(/assets/icons/batata.svg);
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--justwhite);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warmblack1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}
.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(/assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/icons/eye.svg);
}
.product-detail--card .money {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/icons/dollar-sign.svg);

}
.product-detail--card .chulo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(/assets/icons/check-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--justwhite);

}
.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.imagen-comodin {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(/assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.imagen-comodin h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--justwhite);
    line-height: 2.6rem;
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;  
    margin-bottom: 50px;  
}
.plans-title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black;
}
.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/*Forma de crear una tarjeta correctamente*/
.plans-container--card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 262px;
    margin: 50px 20px 0;
    padding: 0 15px; /*Borde para la tarjeta*/
    background-color: var(--justwhite);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
    scroll-snap-align: center;
}
/*Boton recomendar*/
.recomendado {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 55px);
    background-color: orangered;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 8px;
    color: var(--justwhite);
    
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: black;
}
.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    position: absolute;
    top: 45px;
    left: 57px;
}
.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--call {
    width: 170px;
    height: 48px;
    margin-top: 16px;
    background-color: #faf8f7;
    border-radius: 5px;
    border: orangered solid 2px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: 'DM Sans', sans-serif;
}
.plan-card--call span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/assets/icons/orange-right-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
/*2nda Carta*/
.mensual {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 55px);
    background-color:darkorchid;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 8px;
    color: var(--justwhite);
}
.boton2 {
    width: 170px;
    height: 48px;
    margin-top: 16px;
    background-color:#faf8f7;
    border-radius: 5px;
    border: darkorchid solid 2px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: 'DM Sans', sans-serif;
}

/*3ra carta*/
.semanal {
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 55px);
    background-color:darkcyan;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 8px;
    color: var(--justwhite);
}
.boton3 {
    width: 170px;
    height: 48px;
    margin-top: 16px;
    background-color:#faf8f7;
    border-radius: 5px;
    border: darkcyan solid 2px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: 'DM Sans', sans-serif;
}

/*Scroll  --  Silder*/
.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

/*Fotter dos secciones*/

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoinorange);
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer .left ul {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    
}
.left li {
    margin: 10px 0;

}
.left a {
    text-decoration: none;
    color: var(--justwhite);
}